img {
    border-radius: 35px;
    width: 300px; height: 250px;
}

header{
    background-color:  rgb(255, 255, 255);
    color: rgb(34, 48, 60);  
    padding: 5% 1% 2% 1%;
  }

main{
    background-color:  rgb(255, 255, 255);
    color: rgb(34, 48, 60); 
}

section{
    background-color:  rgb(255, 255, 255);
    color: rgb(34, 48, 60); 
}

body{
    font-size: 25px;
    background-color:  rgb(255, 255, 255);
}

footer {
    background-color:  rgb(255, 255, 255);
    color: rgb(34, 48, 60); 
    text-align: center;
}

h1, h2, h3 { 
    font-family: Verdana, sans-serif; 
    padding-top: 1%; 
    text-align: center;
  }

li { 
    list-style-type: none; 
	  text-align: center;
    padding-inline: 20px;
    text-indent: 180px;
}

#allCards{
    display: flex;
    flex-wrap: wrap;
    align-content: centers;
    border-radius: 35px;
    padding: 2% 1% 2% 1%;
}

#icons{
    padding-top: 5%; 
    display: flex;
}

#card{
    background-color:  rgb(34, 48, 60);
}

/* Style for accordion headers */
.accordion-header {
    background-color: rgb(255, 255, 255); /* Change the background color */
    color: rgb(255, 255, 255); /* Change the text color */
    padding: 10px;
    cursor: pointer;
  }
  
  /* Style for accordion content (hidden by default) */
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  /* Style for accordion content when active */
  .accordion-item.active .accordion-content {
    display: block;
  }
  
  /* Style for accordion when hovered */
  .accordion-header:hover {
    background-color: rgb(255, 255, 255); /* Change the background color on hover */
  }
  
  /* Style for accordion when clicked/active */
  .accordion-item.active .accordion-header {
    background-color: rgb(255, 255, 255); /* Change the background color for active header */
  }

#frontEnd{
  transform: skew(-8deg,0deg);
  box-shadow: 20px 10px 5px;
} 

#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow);
}
/*
.allCards{
  display: flex;
  height: 30rem;
  gap: 3rem;
}

.allCards > div{
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.allCards > div:hover{
  flex: 2;
}
*/

.card:hover{
  transform: translateY(-20px);
  right: 20px;
}
