body{
  font: 1.2rem "Fira Sans", sans-serif;
  font-size: 25px;
  }

nav{
  margin-top: 20px;
}

h2{
  text-align: center;
  margin-top: 40px;
}

#title{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-fill-color: #11809C;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the icons horizontally */
  margin-right: 200px;
}

.icon {
  width: 100px; /* Adjust width of each icon */
  height: 120px; /* Adjust height of each icon */
  margin: 10px; /* Adjust spacing between icons */
} 

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
} 

.card-title {
  margin-top: 0;
} 

.card-text {
  color: #666;
} 

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
} 

.card-container {
  display: flex;
  flex-wrap: wrap;
} 

.card {
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  width: calc(50% - 10px);  /*Adjust as needed */
  margin-right: 20px;
  margin-bottom: 20px; /* Adjust vertical spacing between cards */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card */
} 

footer { 
  text-align: center;
  padding: 1% 0 1% 0; 
} 

